<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
        <li routerLinkActive="active" class="nav-item fs-5 text-black">
            <a class="nav-link" routerLink="books">Livres</a>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-light">
        <li routerLinkActive="active" class="nav-item fs-5 text-black">
            <a class="nav-link" routerLink="auth/signup">Créer un compte</a>
        </li>
        <li routerLinkActive="active" class="nav-item fs-5 text-black">
            <a class="nav-link" routerLink="auth/signin">Connexion</a>
        </li>
    </ul>
  </div>
</nav>